@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.input {
  @apply w-full bg-dark_bg_2 p-1.5 text-dark_text_1 rounded-lg flex-1 outline-none;
}

.rotateAnimation {
  animation: rotate 0.3s forwards;
}
@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
}

.converSATIONS {
  height: calc(100vh - 6.5rem);
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #444e54;
  border-radius: 5px;
}

.triangle-right {
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  border-bottom-right-radius: 3px;
}
.triangle-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  border-bottom-right-radius: 3px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-from-right {
  animation: slideInFromRight 0.5s ease-in-out forwards;
}

.slide-in-from-left {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.LargeVideoCall {
  @apply absolute top-0 bottom-0 left-0 right-0 z-20 object-cover h-full bg-red-400 cursor-pointer;
}
.SmallVideoCall {
  @apply w-28 h-32 object-cover absolute bottom-4 right-2 z-30 bg-blue-500 cursor-pointer;
}
.moveVideoCall {
  @apply bottom-32 transition-all duration-100;
}
.moveActionsComp {
  @apply block;
}

/* emoji picker */

.epr-dark-theme {
  background: #1f2a36 !important;
}

.epr-emoji-category-label {
  background: transparent !important;
}
.epr_-r9nwrc {
  background-color: rgb(51 65 84 / 0.8) !important;
  border: none !important;
}

.openAnimation {
  animation: openAs 0.1s forwards;
}
@keyframes openAs {
  0% {
    transform: translateY(60px);
  }
}

.epr_c90x4z {
  display: none !important;
}

.epr-body::-webkit-scrollbar {
  width: 6px;
}
.epr-body::-webkit-scrollbar-track {
  background: transparent;
}

.epr-body::-webkit-scrollbar-thumb {
  background-color: #444e54;
  border-radius: 5px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
