@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.input {
  @apply w-full bg-dark_bg_2 p-1.5 text-dark_text_1 rounded-lg flex-1 outline-none;
}

.rotateAnimation {
  animation: rotate 0.3s forwards;
}
@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
}

.converSATIONS {
  height: calc(100vh - 6.5rem);
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #444e54;
  border-radius: 5px;
}

.triangle-right {
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  border-bottom-right-radius: 3px;
}
.triangle-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  border-bottom-right-radius: 3px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
